package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
dist/
build/
coverage/
.out/
out/
.eslintcache
.turbo/
.cache/
.tmp/
temp/
tmp/

**/node_modules/

.vscode/
.idea/
.DS_Store

**/.git/
**/.svn/
**/.hg/

.claude/

*.md

*.mdx
